<% users.forEach(element => { %>
 
<tbody>
    <tr>
        <td><%= element.id %> </td>
        <td><%= element.name %> </td>
        <td><%= element.email  %> </td>
        <td><%= element.gender  %></td>
        <td><%= element.status  %></td>
        <td>
            <a href="/update-user?id=<%= element._id %>" class="btn border-shadow update">
                <span class="textgradient"><i class="fas fa-pencil-alt" ></i></span>
            </a>
            <a class="btn border-shadow delete" data-id=<%= element._id %>>
                <span class="textgradient"><i class="fas fa-times" ></i></span>
            </a>
        </td> 
    </tr>
</tbody>

<% }) %>